.pageMain {
    max-width: 48rem;
    margin: -2rem auto 0;
    padding: 0 1rem;
}

.tasksContainer header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
}

.createdTasks {
    color: var(--blue-400);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.createdTasks span {
    padding: 0.125rem 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 10px;
}

.finishedTasks {
    color: var(--purple-400);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.finishedTasks span {
    padding: 0.125rem 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 10px;
}

.taskList {
    list-style: none;
}